{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/perl/perl.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css"></link>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <title>Home</title>
</head>
<body>
    {% include 'home/background.html' %}
    <div class="container">
        <div>
            <h1>CodePan</h1>
        </div>
        <div class="card">
            <div>
                <span id="location"></span>
                <input type="text" id="path" placeholder="example.py">
                <button type="button" id="go">GO</button>
            </div>
            <div>
                <ul>
                    <li>Log in or create an account to access the editor.</li>
                    <li>Use the full-featured IDE to write and edit code.</li>
                    <li>Collaborate with other users in real-time through the built-in chat feature.</li>
                    <li>Admin users have access to additional versioning tools to manage code changes.</li>
                    <li>Run code directly in the browser and view the output.</li>
                    <li>Customize the look and feel of the editor with various color schemes and themes.</li>
                    <li>Save and retrieve code snippets for later use.</li>
                    <li>Upload code from a file for editing.</li>
                    <li>Copy, cut, paste, undo, and redo code with ease.</li>
                    <li>Code is highlighted and color-coded for improved readability.</li>
                    <li>Add comments to code with support for GIFs and emoticons.</li>
                    <li>Create a screenshot of selected code and share it on WhatsApp.</li>
                    <li>Record your screen while coding and save the video for later use.</li>
                    <li>Watch interactive videos and copy, paste, and insert code as the video plays.</li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'accounts:logout' %}">logout</a>
            </div>
            {% else %}
            <div>
                To use certain functions,&nbsp; <a href="{% url 'accounts:login' %}">authentication</a> &nbsp; is required 
            </div>
            <div>
                If you don't have an account, you can register &nbsp; <a href="{% url 'accounts:register' %}">here</a> &nbsp;
            </div>
            {% endif %}
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>