.contextMenu {
    position: absolute;
    display: none;
    top: 0;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: monospace;
    width: 220px;
}

.section{
    border-bottom: 1px solid ;
}

.section > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
}
.section div > button {
    display: block;
    color:inherit;
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding:0;
    margin: 0;
    cursor: pointer;
}

.section > div > button:hover,
.section a:hover {
    color: rgb(0, 132, 255);
}

.section a {
    color: inherit;
    text-decoration: none;
}