<div class="commentContainer">
    <div id="commentInputContainer" style="display: none;">
        <input type="text" 
            id="commentMessage" 
            placeholder="Scrie un comentariu" 
            style="margin: 0;">
        <div id="emojiButton">
            🙂
        </div>
        <div id="gifButton">
            <img src="https://media.tenor.com/pCcL8OOdEBUAAAAC/gifs-away-gif.gif" 
                width="16" 
                height="16" 
                alt="gifs-away-gif.gif">
        </div>
        <button id="sendComment">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 
                        14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 
                        7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 
                        1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 
                        10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z">
                </path>
            </svg>
        </button>
    </div>
    <div id="emojis" style="display: none;"></div>
    <div id="gifs" style="display: none;"></div>
</div>