{% load static %}
<script src="{% static 'js/console/consoleUtility.js' %}"></script>
<script src="{% static 'js/file.js' %}"></script>
<script src="{% static 'js/versions.js'%}"></script>

{% if request.user.is_authenticated %}
    <script src="{% static 'js/screenRecorder.js'%}"></script>
    <script src="{% static 'js/videoRecorder.js'%}"></script>
    <script src="{% static 'js/comments.js'%}"></script>
{% endif %}

<script src="{% static 'js/navbar.js'%}"></script>
<script src="{% static 'js/right_click_action.js'%}"></script>