{% load static %}

<script language="javascript" 
        type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js">
</script>
<script language="javascript" 
        type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/perl/perl.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js">
</script>
<script language="javascript" 
        type="text/javascript" 
        src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/merge/merge.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/search/search.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/search/searchcursor.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/search/jump-to-line.min.js">
</script>

<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/dialog/dialog.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/keymap/sublime.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/selection/mark-selection.min.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.10.8/html-to-image.js">
</script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.10.8/html-to-image.min.js">
</script>

<script 
    src="https://cdn.jsdelivr.net/pyodide/v0.21.3/full/pyodide.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.js" 
        integrity="sha512-pjhQkESWQCP08lFbib1SNiOWyirUf6r5eNvAxTK4Ra3bVz3omuZW5+5kaFYNJy8R3DortMYLMXWwl0FegS3pKQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/html-hint.js" integrity="sha512-IcVl8LCpYxYbuxd22+YC6FUZ+63sgfbUIBq1ED7KfttvDshDdA6ppRZuPQ015ZCqKuMHlFhyfAHmCAPiNHinLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/xml-hint.js" integrity="sha512-FPe5KOPfj4WFaO+g1S4pbQcTkKtNc6+qZe9LkBEyNX3NSsR13qoQ2Jw4kZw/gA4gJtDfS244nHCy7AwiBArXgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'codemirror/js/addons/css-hint.js' %}"></script>
<script src="{% static 'codemirror/js/addons/javascript-hint.js' %}"></script>
<script src="{% static 'codemirror/js/addons/anyword-hint.js' %}"></script>
<script src="{% static 'codemirror/js/addons/python-hint.js' %}"></script>