<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <style>
            {% for file in css %}
                {{file.code | safe}}
            {% endfor %}
        </style>
    </head>
    <body>
        {% for file in html %}

            {{ file.code | safe }}

        {% endfor %}

        <script>
            {% for file in js %}
                {{ file.code | safe}}
            {% endfor %}
        </script>
    </body>
</html>
