{% load static %}  
<link rel="stylesheet" 
    href="{% static 'css/file.css' %}">
<link rel="stylesheet" 
    href="{% static 'css/comments.css' %}">
<link rel="stylesheet" 
    href="{% static 'css/screenRecorder.css' %}">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/merge/merge.min.css">
<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/dialog/dialog.min.css">

<link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/hint/show-hint.css" 
    integrity="sha512-8MR8AFnfQwZW7Ta4AhsbUdyipTivUNe+gFULBYDX6u7k7ER4R9K50kcOd88lq3OCUBKrkAW3jJ1+ooxhagkytw==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer" />

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/versions.css' %}">
<link rel="stylesheet" href="{% static 'css/right_click_action.css' %}">
<link rel="stylesheet" href="{% static 'css/console.css' %}">

