<div class="commentContainer">
    <input type="button" 
            id="comment" 
            value="Comenteaza" 
            style="background-color: transparent;
                    border:0;
                    cursor:pointer;
                    color:white;">
    <div id="commentInputContainer" style="display: none;">
        <input type="text" 
            id="commentMessage" 
            placeholder="Scrie un comentariu" 
            style="margin: 0;">
        <div id="emojiButton">
            🙂
        </div>
    </div>
    <div id="emojis"></div>
</div>