<div class="commentContainer">
    <!-- <input type="button" 
            id="comment" 
            value="Comenteaza" 
            style="background-color: transparent;
                    border:0;
                    cursor:pointer;
                    color:white;"> -->
    <div id="commentInputContainer" style="display: none;">
        <input type="text" 
            id="commentMessage" 
            placeholder="Scrie un comentariu" 
            style="margin: 0;">
        <div id="emojiButton">
            🙂
        </div>
        <div id="gifButton">
            <img src="https://media.tenor.com/pCcL8OOdEBUAAAAC/gifs-away-gif.gif" 
                width="16" 
                height="16" 
                alt="gifs-away-gif.gif">
        </div>
    </div>
    <div id="emojis" style="display: none;"></div>
    <div id="gifs" style="display: none;"></div>
</div>