<style>
    .console {
        position: absolute;
        background-color: #000;
        top: 0;
        right: 0;
        font-family: monospace;
        font-size: 12px;
        padding: 10px;
        width: 50%;
        height: 80vh;
        overflow: auto;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        padding: 0;
        z-index: 40;
    }
    #console_header {
        background-color: #333;
        color: #fff;
        padding: 5px;
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        cursor: move;
    }
    .output {
        color: #fff;
        padding: 5px;
    }
</style>
<div class="console">
    <div id="console_header">
        <div>
            <button>Run</button>
            <button>Clear</button>
        </div>
        
        <button>Close</button>
    </div>
    <div class="output">

    </div>
</div>

<script>
    let consoleContainer = document.querySelector('.console');
    let consoleHeader = document.getElementById('console_header');
    let consoleHeaderButtons = consoleHeader.querySelectorAll('button');
    let output = document.querySelector('.output');

    async function main() {
        let pyodide = await loadPyodide({ indexURL : "https://cdn.jsdelivr.net/pyodide/v0.21.3/full/"});
        
        return pyodide
        
    }

    // add pyodide returned value to the output
    function addToOutput(stdout) {
        stdout.split('\n').forEach(line => {
            if (line !== ''){
                line = line.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                output.innerHTML += ">>> " + line + "<br>";
            };
        });
    }

    // clean the output section
    function clearHistory() {
    output.innerHTML = "";
    }
    
    consoleHeaderButtons[0].addEventListener('click', function() {
        console.log('Run');
        let pyodideReadyPromise = main();

        let input = editor.getValue();

        async function evaluatePython() {
            let pyodide = await pyodideReadyPromise;
            try {
                pyodide.runPython(`
                    import sys
                    from io import StringIO
                    sys.stdout = StringIO()
                `);
                let result = pyodide.runPython(editor.getValue());
                let stdout = pyodide.runPython("sys.stdout.getvalue()");
                console.log(stdout);
                addToOutput(stdout);
            } catch (err) {
                addToOutput(err);
            }
        }

        evaluatePython();
    });
    
    consoleHeaderButtons[1].addEventListener('click', function() {
        console.log('Clear');
        clearHistory();
    });
    
    consoleHeaderButtons[2].addEventListener('click', function() {
        consoleContainer.style.display = 'none';
    });

    let dragItem = consoleHeader;
    let active = false;
    let currentX;
    let currentY;
    let initialX;
    let initialY;
    let xOffset = 0;
    let yOffset = 0;
    let body = document.querySelector('body');

    document.addEventListener("touchstart", dragStart, false);
    document.addEventListener("touchend", dragEnd, false);
    document.addEventListener("touchmove", drag, false);

    document.addEventListener("mousedown", dragStart, false);
    document.addEventListener("mouseup", dragEnd, false);
    document.addEventListener("mousemove", drag, false);

    function dragStart(e) {
      if (e.type === "touchstart") {
        initialX = e.touches[0].clientX - xOffset;
        initialY = e.touches[0].clientY - yOffset;
      } else {
        initialX = e.clientX - xOffset;
        initialY = e.clientY - yOffset;
      }

      console.log(dragItem );
      if (e.target === dragItem) {
        active = true;
      }
    }

    function dragEnd(e) {
      initialX = currentX;
      initialY = currentY;

      active = false;
    }

    function drag(e) {
      if (active) {
      
        e.preventDefault();
      
        if (e.type === "touchmove") {
          currentX = e.touches[0].clientX - initialX;
          currentY = e.touches[0].clientY - initialY;
        } else {
          currentX = e.clientX - initialX;
          currentY = e.clientY - initialY;
        }

        xOffset = currentX;
        yOffset = currentY;

        setTranslate(currentX, currentY, consoleContainer);
      }
    }

    function setTranslate(xPos, yPos, el) {
      el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
    }
</script>