{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% include 'linkCss.html' %}
    {% include 'headerScripts.html' %}
    
    <title>CodePan</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% include 'versions.html' %}
        
        <div class="editor">
            <textarea id="code" 
                        cols="30" 
                        rows="10">{{ code.code }}</textarea>
        </div>
        <div class="modified">
            <textarea id="difference" 
                        style="display: none;">{{difference}}</textarea>
            <div id="editor2"></div>
        </div>
    </div>
    
    <div class="actionContainer">
        {% if request.user.is_professor %}
            <button id="send" 
                    type="button" 
                    onclick="proffesorSendCode()">Salvare</button>
        {% elif request.user.is_authenticated %}
            <button id="send" 
                    type="button" 
                    onclick="studentSendCode()">Salvare</button>
        {% else %}
        {% endif %}
        <button id="differences">Diferente</button>
        <form method="POST" 
                action="{% url 'code:upload' slug %}" 
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ fileForm }}
            <button type="submit" 
                    style="margin: 0; 
                            background-color: transparent; 
                            border: 0; 
                            color: white;
                            cursor: pointer;">Upload</button>
        </form>
        
        <div class="mark-code-container" >
            <input id="showMarkers" 
                    type="checkbox" 
                    checked>
            <button id="mark">Marcheaza Codul</button>
            <input id="markColor" 
                    type="color">
        </div>
        <div>
            <button id="sendChat">Trimite codul</button>
        </div>
        {% include 'comments.html' %}
        <button id="share">
            <svg xmlns="http://www.w3.org/2000/svg" 
                    width="10" 
                    height="10" 
                    fill="currentColor" 
                    class="bi bi-share" 
                    viewBox="0 0 16 16">
                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 
                        2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 
                        0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 
                        2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 
                        0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
              </svg> Share
        </button>
        <button id="videoBtn">
            Recorder Screen
        </button>

        <div class="dropdown">
            <div class="dropdown-content">
                {% for video in videoCode %}
                    <a href="{% url 'code:videoCode' slug video.slug %}" 
                        style="font-size: small; display: flex;justify-content: space-between;align-items: center;">
                        {{video.slug}}
                        <svg xmlns="http://www.w3.org/2000/svg" 
                                width="16" 
                                height="16" 
                                fill="currentColor" 
                                class="bi bi-play-fill" 
                                viewBox="0 0 16 16">
                            <path d="m11.596 8.697-6.363 
                                    3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 
                                    1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z">
                            </path>
                          </svg>
                    </a> 
                {% endfor %}
            </div>
            <button id="cmVideo" value="Start">
                Recorder Code
            </button>
        </div>
        
        {% if exercises %}
            <div class="dropdown">
                <div class="dropdown-content">
                    {% for exercise in exercises %}
                        <a href="{% url 'code:viewExercise' exercise.slug exercise.id %}">{{exercise.title}}</a>
                    {% endfor %}
                </div>
                <button id="exercises">Exercitii</button>
            </div>
        {% endif %}
        {% if request.user.is_professor %}
            <a id="createExercise" href="{% url 'code:createExercise' slug %}">Creaza Exercitii </a>
        {% endif %}
    </div>
    <div class="chat-container">
        <div class="messages-count">
            Mesaje
            <i data-count="0" class="fa fa-shopping-cart fa-5x fa-border icon-grey badge"></i>
        
        <!-- todo -->
        <script>
            let messagesCount = document.querySelector('.messages-count > i');
            let messagesCountValue = messagesCount.getAttribute('data-count');
            messagesCountValue = parseInt(messagesCountValue);  
            messagesCountValue += 1;    
            messagesCount.setAttribute('data-count', messagesCountValue);   
        </script>

        </div>
        <div class="chat-elements">
            <div id="chat">
                <div id="chat-log"></div>  
            </div>
            <div id="chatAction">
                <input id="chat-message-input" 
                        type="text" 
                        placeholder="Scrie un mesaj">
                <button id="chat-message-submit" 
                        type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" 
                            width="16" 
                            height="16" 
                            fill="currentColor" 
                            class="bi bi-send" 
                            viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 
                                14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 
                                7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 
                                1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 
                                10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="whatsapp-container">
        <div id="whatsapp">
            <div id="whatsapp-close-container">
                <button id="whatsapp-close">X</button>
            </div>
            <div id="whatsapp-image-container">

            </div>
            <input id="number" 
                    type="numeric" 
                    placeholder="Telefon 0722222222" >
            <input id="name" 
                    type="text" 
                    placeholder="Nume" >
            <input id="msg" 
                    type="text"
                    placeholder="Mesaj" >
            <button id="whatsapp-end-btn">send</button>
            <div class="message-whatsapp">
                Pentru a putea trimite imagini este nevoie sa trimiti un mesaj cu textul "join four-nou" 
                <a href="https://api.whatsapp.com/send?phone=+14155238886&text=join four-now">aici</a> 
                si sa dai send
            </div>
        </div>
    </div>
        {% include 'consolePython.html' %}
        {% include 'screenRecorder.html' %} 
        {% include 'footerScripts.html' %} 

        <style>
            .contextMenu {
                position: absolute;
                display: none;
                top: 0;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }
            .contextMenu-content > a {
                display: block;
            }
        </style>

        <div class="contextMenu" >
            <div class="contextMenu-content">
                <a href="#" id="copy">Buton 1</a>
                <a href="#" id="paste">Buton 2</a>
                <a href="#" id="cut">Buton 2</a>
                <a href="#" id="select">Buton 3</a>
            </div>
        </div>
    <!-- <script>
        let contextMenu = document.querySelector('.contextMenu');
        window.oncontextmenu = function(event) {
            event.preventDefault();
            event.stopPropagation();
            console.log(event);
            contextMenu.style.display = 'block';
            contextMenu.style.top = event.pageY + 'px';
            contextMenu.style.left = event.pageX + 'px';
            return false;
        };
        window.onclick = function(event) {
            if (!event.target.matches('.contextMenu')) {
                contextMenu.style.display = 'none';
            }
        };
    </script> -->
</body>
</html