{% load static %}  
<link rel="stylesheet" 
    href="{% static 'css/file.css' %}">
<link rel="stylesheet" 
    href="{% static 'css/comments.css' %}">
<link rel="stylesheet" 
    href="{% static 'css/screenRecorder.css' %}">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css">
<link 
    rel="stylesheet" 
    type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/merge/merge.min.css">
<link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/dialog/dialog.min.css">

