<div class="versioning-container" style="position: relative; 
            overflow-y:auto;
            overflow-x: hidden; 
            background-color: #231c14;
            color: white; 
            padding-top: 10px;">
    <div class="versioning">
        {% for version in versions %}
            {% if forloop.first %}
                <div class="version">
                    <input type="radio" 
                            name="version" 
                            id="version{{version.id}}" 
                            value="{{ version.code }}" 
                            checked>
                    <label for="version{{version.id}}">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 640 512"
                            width="20"
                            fill="currentColor" >
                                <path 
                                    d="M320 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 
                                    35.8-80 80s35.8 80 80 80zm156.8-48C462 361 397.4 
                                    416 320 416s-142-55-156.8-128H32c-17.7 
                                    0-32-14.3-32-32s14.3-32 32-32H163.2C178 151 242.6 96 
                                    320 96s142 55 156.8 128H608c17.7 0 32 14.3 32 32s-14.3 
                                    32-32 32H476.8z"/>
                        </svg>
                    </label>
                    <span>V{{forloop.revcounter}}</span>
                    {% if version.proffesor_code.all %}
                        <button class="showStudentVersion" style="margin: 0;padding:0;background-color: transparent;border:none;color: inherit;">
                            <svg width="14" height="14" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331 512" xml:space="preserve">
                                <path d="M124.8,2.1C133.4,5.9,139,14.5,139,24v40h16c70.7,0,128,57.3,128,128v166.7c28.3,12.3,48,40.5,48,73.3c0,44.2-35.8,80-80,80  s-80-35.8-80-80c0-32.8,19.7-61,48-73.3V192c0-35.3-28.7-64-64-64h-16v40c0,9.5-5.6,18.1-14.2,21.9s-18.8,2.3-25.8-4.1l-80-72  c-5.1-4.6-7.9-11-7.9-17.8S14,82.7,19,78.2l80-72C106-0.1,116.2-1.7,124.8,2.1L124.8,2.1z M251,456c13.3,0,24-10.7,24-24  s-10.7-24-24-24s-24,10.7-24,24S237.7,456,251,456z"/>
                            </svg>
                        </button>
                        <div class="studentVersion" >
                            {% for sversion in version.proffesor_code.all %}
                            <div>
                            {% if forloop.first %}
                                <input type="radio" 
                                        name="version" 
                                        id="studentVersion{{sversion.id}}" 
                                        value="{{ sversion.code }}"
                                        style="display: block; 
                                                position: relative;
                                                top:-7px;">
                            {% else %}
                            <input type="radio" 
                                    name="version" 
                                    id="studentVersion{{sversion.id}}" 
                                    value="{{ sversion.code }}"
                                    style="display: block; 
                                            position: relative;
                                            top:-7px;
                                            margin-top: 10px;">
                            {%endif%}
                            <label for="studentVersion{{sversion.id}}">
                                <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    viewBox="0 0 640 512"
                                    width="20"
                                    fill="currentColor" >
                                        <path 
                                            d="M320 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 
                                            35.8-80 80s35.8 80 80 80zm156.8-48C462 361 397.4 
                                            416 320 416s-142-55-156.8-128H32c-17.7 
                                            0-32-14.3-32-32s14.3-32 32-32H163.2C178 151 242.6 96 
                                            320 96s142 55 156.8 128H608c17.7 0 32 14.3 32 32s-14.3 
                                            32-32 32H476.8z"/>
                                </svg>
                            </label>
                        </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
            <div class="version">
                <input type="radio" 
                        name="version" 
                        id="version{{version.id}}" 
                        value="{{ version.code }}">
                <label for="version{{version.id}}">
                    <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 640 512"
                            width="20"
                            fill="currentColor" >
                                <path 
                                    d="M320 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 
                                    35.8-80 80s35.8 80 80 80zm156.8-48C462 361 397.4 
                                    416 320 416s-142-55-156.8-128H32c-17.7 
                                    0-32-14.3-32-32s14.3-32 32-32H163.2C178 151 242.6 96 
                                    320 96s142 55 156.8 128H608c17.7 0 32 14.3 32 32s-14.3 
                                    32-32 32H476.8z"/>
                        </svg>
                </label>
                <span>V{{forloop.revcounter}}</span>
                {% if version.proffesor_code.all %}
                <button class="showStudentVersion" style="margin: 0;padding:0;background-color: transparent;border:none;color: inherit;">
                    <svg width="14" height="16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 331 512" xml:space="preserve">
                        <path d="M124.8,2.1C133.4,5.9,139,14.5,139,24v40h16c70.7,0,128,57.3,128,128v166.7c28.3,12.3,48,40.5,48,73.3c0,44.2-35.8,80-80,80  s-80-35.8-80-80c0-32.8,19.7-61,48-73.3V192c0-35.3-28.7-64-64-64h-16v40c0,9.5-5.6,18.1-14.2,21.9s-18.8,2.3-25.8-4.1l-80-72  c-5.1-4.6-7.9-11-7.9-17.8S14,82.7,19,78.2l80-72C106-0.1,116.2-1.7,124.8,2.1L124.8,2.1z M251,456c13.3,0,24-10.7,24-24  s-10.7-24-24-24s-24,10.7-24,24S237.7,456,251,456z"/>
                    </svg>
                </button>
                <div class="studentVersion" style="display: none;">
                    {% for sversion in version.proffesor_code.all %}
                    <div>
                        {% if forloop.first %}
                            <input type="radio" 
                                    name="version" 
                                    id="studentVersion{{sversion.id}}" 
                                    value="{{ sversion.code }}"
                                    style="display: block; 
                                            position: relative;
                                            top:-7px;" >
                        {% else %}
                            <input type="radio" 
                                    name="version" 
                                    id="studentVersion{{sversion.id}}" 
                                    value="{{ sversion.code }}"
                                    style="display: block; 
                                            position: relative;
                                            top:-7px;
                                            margin-top: 10px;" >
                        {%endif%}
                        <label for="studentVersion{{sversion.id}}">
                            <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 640 512"
                            width="20"
                            fill="currentColor" >
                                <path 
                                    d="M320 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 
                                    35.8-80 80s35.8 80 80 80zm156.8-48C462 361 397.4 
                                    416 320 416s-142-55-156.8-128H32c-17.7 
                                    0-32-14.3-32-32s14.3-32 32-32H163.2C178 151 242.6 96 
                                    320 96s142 55 156.8 128H608c17.7 0 32 14.3 32 32s-14.3 
                                    32-32 32H476.8z"/>
                        </svg>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>