#emojiButton,
#gifButton {
    background-color: white;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

#gifButton {
    color: black;
}

#emojis,
#gifs {
    position: absolute;
    transform: translateY(-60%);
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 100;
    display: block;
    white-space: normal;
    overflow: auto;
    border-radius: 10px;
}

.gif{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}