#screenRecorder {
    position: absolute;
    z-index: 30;
    border-radius: 5px;
    border: 1px solid ;
    top: 0;
    height: 100%;
    overflow-y: auto;
    width: 220px;
}

#screenRecorder:hover, #screenRecorder > i:hover{
    transform: translate(0);
}

#screenRecorder > button{
    border: none;
    background-color: transparent;
}

#videosContainer > button{
    border: none;
    display: block;
}
#videoPlayer{
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    z-index: 999999;
}

#videoControls > button {
    width: 20px;
    height: 20px;
    background-color: red;
    padding: 0;
    margin:0;
    cursor: pointer;
}

